<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.8.1" />
		<httpRuntime targetFramework="4.8.1" />
	</system.web>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="EduprogWSPortBinding" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
					<readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647"
								  maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
				</binding>
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://localhost:8080/EduprogWS/EduprogWS"
					  binding="basicHttpBinding" bindingConfiguration="EduprogWSPortBinding"
					  contract="EduprogWS.EduprogWS" name="EduprogWSPort" />
		</client>
	</system.serviceModel>
</configuration>